{
	auto_https off
	admin localhost:2019
	http_port 8080
}

:8080 {
	handle /healthz {
		respond "ok" 200
	}
	respond 404
}

https://{$TAAP_TLS_HOST:srv1957432.hstgr.cloud}:8443 {
	tls /certs/tls.crt /certs/tls.key
	encode gzip
	reverse_proxy app:8081
}
